Flask==3.1.0
Flask-Session==0.8.0
gunicorn==23.0.0
openai==0.28.0
openai-whisper==20240930
transformers==4.51.3
torch==2.7.0
sentence-transformers==4.1.0
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.43
langchain-text-splitters==0.2.4
chromadb==0.4.24
unstructured==0.17.2
unstructured-client==0.34.0
unstructured-inference==0.8.10
unstructured.pytesseract==0.3.15
pdfminer.six==20250416
python-docx==1.1.2
docx==0.2.4
pypdf==4.3.1
pypdfium2==4.30.1
pdf2image==1.17.0
yt-dlp==2025.3.31
openai-whisper==20240930
pi_heif==0.22.0
requests==2.32.2
python-dotenv==1.1.0
Werkzeug==3.1.3
